<div class="m-sidebar" id="dedem">
  <div class="pub">
    <div class="btn"> <i class="ico"></i>
      <p class="txt">公众号</p>
    </div>
    <div class="qrcode"></div>
  </div>
  <div class="go-top J_gotop"><i class="ico"></i></div>
</div>
<div class="w100 footer">
  <div class="footers auto">
    <div class="box">
      <p class="ft_nav"> <a href="/">网站首页</a> 
        {dede:channel type='top' row='9'}
		| <a href="[field:typelink/]" title="[field:typename/]">[field:typename/]</a> 
		{/dede:channel}  </p>
      <p>{dede:global.cfg_powerby/} <a href="https://beian.miit.gov.cn/" target="_blank" rel="nofollow">{dede:global.cfg_beian/}</a> <a href="/sitemap.xml" target="_blank">XML地图</a> </p>
    </div>
    <div class="box1">
      <p>本站发布的系统与软件仅为个人学习测试使用，请在下载后24小时内删除，不得用于任何商业用途，否则后果自负，请支持购买微软正版软件！</p>
    </div>
  </div>
</div>